@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



/* .css-selector {
    background: linear-gradient(269deg, #2386ff, #8600f0, #b7ce00);
    background-size: 600% 600%;
    -webkit-animation: GradientAnimation 6s ease infinite;
    -moz-animation: GradientAnimation 6s ease infinite;
    -o-animation: GradientAnimation 6s ease infinite;
    animation: GradientAnimation 6s ease infinite;
    background-clip: text;
    color:transparent;
    font-weight: bold;
}

@-webkit-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-o-keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes GradientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
} */