@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.synthwave-background {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #011627;
    background-image: linear-gradient(180deg,transparent 20%,rgba(255,147,249,.4));
    perspective: 100vh;
    
    &:after {
      content:'';
      position: fixed;
      top: -100vh;
      bottom: 0;
      left: 0;
      width: 100%;
      background-image: linear-gradient(#C14694 2px,transparent 0),linear-gradient(90deg,#C14694 2px,transparent 0),linear-gradient(#C14694 1px,transparent 0),linear-gradient(90deg,#C14694 1px,transparent 0);
      background-size: 200px 200px,200px 200px,40px 40px,40px 40px;
      background-position: -2px -2px,-2px -2px,-1px -1px,-1px -1px;
      transition: top 1s ease;
      animation: move-grid 1.5s  forwards, 9s linear infinite crawlingWall;
      animation-delay: 1s;
    }
  }
  @keyframes move-grid {
    0% {
      transform: rotateX(0deg);
      top: -50vh;
    }
    100% {
      transform: rotateX(52deg);
      top: -100vh;
    }
  }
  
  @keyframes crawlingWall {
      to {
        background-position-y: bottom;
      }
    }