@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=VT323&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  width: 100%;

}

@font-face {
  font-family: "Rocket";
  src: url("/Fonts/rocketFont.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Alien";
  src: url("/Fonts/Alien-Encounters-Regular.ttf") format("truetype");
  font-weight: normal;
}

.crt {
  position: absolute;
  background-image: linear-gradient(rgba(107, 0, 102, 0.151),
      rgba(143, 0, 133, 0.192));
  background-repeat: repeat;
  background-size: 100vw 0.8vh;
  /* animation: bgscroll 80s linear infinite; */
}

/* @keyframes bgscroll {
  100% {
    background-position: 0% 100%;
  }
} */

@keyframes go-movement {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(4px);
  }
}

.go-animation {
  animation: go-movement 1s linear infinite;
}

.blinking-caret {
  animation: blink 1s step-end infinite;
}

@keyframes blink {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: rgb(253 186 116);
  }
}